// @import "partials/normalize";
@import "partials/variables";
@import "partials/grid";

body {
    color: $text-color;
    font-family: $default-font;
    background: white;
    line-height: 20px;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
    color: $corporate-color;
}

.wrapper {
    width: 100%;
    overflow-x: scroll;
}