@import '../../styles/partials/variables';

.compare {
    &__title {
        border-bottom: 1px solid darken($grey-color, 10%);

        h1 {
            color: $corporate-color;
            font-weight: 900;
        }
    }

    &__aside {
        padding: 20px;
        border-right: 2px solid darken($grey-color, 10%);
    }

    &__content {
        padding: 0;
    }
}

.responsiveContainer {
    min-width: 1000px;
}